<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>InsertServlet</servlet-name>
        <servlet-class>gnservlet.InsertServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LServlet</servlet-name>
        <servlet-class>gnservlet.LServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteRegServlet</servlet-name>
        <servlet-class>gnservlet.DeleteRegServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateRegServlet</servlet-name>
        <servlet-class>gnservlet.UpdateRegServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InsertServlet</servlet-name>
        <url-pattern>/InsertServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LServlet</servlet-name>
        <url-pattern>/LServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteRegServlet</servlet-name>
        <url-pattern>/DeleteRegServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateRegServlet</servlet-name>
        <url-pattern>/UpdateRegServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
